PORT=8184
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_SCHEMA=customer
DB_USER=postgres
DB_PASSWORD=admin

# Kafka
KAFKA_BROKERS=localhost:19092,localhost:29092,localhost:39092
KAFKA_SCHEMA_REGISTRY_URL=http://localhost:8081
CUSTOMER_TOPIC_NAME=customer
